<!-- <div>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Link</a></li>
      <li><a class="dropdown-item" href="#">Another link</a></li>
      <li><a class="dropdown-item" href="#">A third link</a></li>
    </ul>
  </li>
</div> -->

dropdown_button:

<div class="dropdown dropstart text-end">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Dropstart
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Normal</a></li>
    <li><a class="dropdown-item active" href="#">Active</a></li>
    <li><a class="dropdown-item disabled" href="#">Disabled</a></li>
  </ul>
</div>